
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/HomePage.css">
    <title>WELCOME TO REAL-TIME-FORUM</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <noscript>
                <h1 style="color: red;"><strong>You Need JS to use the platform!</strong></h1>
            </noscript> 
            <h1>WELCOME TO REAL-TIME-FORUM</h1>
            <p class="subtext">Join our community and explore new ideas</p>
            <p class="subtext">Connect, share, and learn with fellow enthusiasts</p>
            <div class="buttons">
                <button class="btn" onclick="window.location.href = '/login'">Sign In</button>
                <button class="btn" onclick="window.location.href = '/register'">Sign Up</button>
                <button class="btn" onclick="window.location.href = '/guest'">Guest</button>
            </div>
        </div>
    </div>
</body>
</html>