body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Couleur de fond douce */
    margin: 0;
    padding: 0;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pleine hauteur de la vue */
    text-align: center;
    color: #ffffff; /* Couleur du texte d'erreur */
}

.error-title {
    font-size: 2.5em; 
    margin-bottom: 20px; /* Espace en bas */
    font-weight: bold; /* Gras */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Ombre douce pour le texte */
}

.error-message {
    font-size: 1.2em; /* Taille du message */
    margin-bottom: 30px; /* Espace en bas */
}

.error-button {
    padding: 10px 20px; /* Espacement interne */
    background-color: #cce5ff; /* Couleur de fond du bouton */
    color: #004085; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid #004085; /* Bordure pour un meilleur contraste */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Ajout de la transition pour l'effet de transformation */
}

.error-button:hover {
    background-color: #b8daff; /* Couleur de fond au survol */
    color: #003366; /* Couleur du texte au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}