* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
    padding-top: 80px; /* Space for the fixed user bar */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #272346;
}

p {
    color: #a81212;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.btn, button, input {
    border-radius: 35px;
    padding: 14px 20px;
    width: 100%; 
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn {
    background-color: #4e34b6;
    color: #ffffff;
    margin: 10px 0;
}

.btn:hover {
    background-color: #ffffff;
    color: #4e34b6;
}

input {
    background: #f7fafc;
    color: #999;
    margin-bottom: 15px;
}

input:focus {
    background: transparent;
    border: 1px solid #4e34b6;
}

.login-form, .register-form, .post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 100vh; /* Ensure full height */
}

.main {
    display: flex;
    margin: 30px 0;
    width: 100%;
}

.content {
    flex: 1;
    padding: 3em;
    background-color: #eae9f0;
    box-shadow: 2px 9px 49px -17px rgba(34, 170, 52, 0.1);
    border-radius: 8px;
}

.form-img {
    flex: 1;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-img img {
    max-width: 100%;
}

.register-content {
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 3em;
}

.register-form input,
.register-form select {
    outline: none;
    margin-bottom: 15px;
    padding: 14px 20px;
    width: 100%;
    border: none;
    border-radius: 35px;
    background: #f7fafc;
    transition: 0.3s ease;
}

.register-form input:focus,
.register-form select:focus {
    background: transparent;
    border: 1px solid #4e34b6;
}


.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #4e34b6;
    width: 100%;
    position: fixed; /* Fixed at the top */
    top: 0; 
    left: 0; 
    padding: 5px 30px; 
    height: 60px; 
    z-index: 1000; /* Keep on top of other elements */
}

.user h1 {
    color: #ffffff;
}

#logged-in-label {
    font-size: x-large;
  margin-right: 1.5rem; 
  font-weight: bolder;
  color:  #ffffff;
}

#logoutButton {
    border: 1px solid #4e34b6; /* Bordure bleue */
    background-color: transparent; /* Fond transparent */
    color: #ffffff; /* Couleur du texte */
    padding: 8px 12px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transition pour les effets au survol */
    height: 36px;
    width: 60px;
    margin-left: auto; 
}

#logoutButton:hover {
    background-color: #4e34b6; /* Couleur de fond bleue au survol */
    color: #ffffff; /* Couleur du texte blanche au survol */
}

#submit {
    border: 1px solid #4e34b6; /* Bordure bleue */
    background-color: transparent; /* Fond transparent */
    color: #ffffff; /* Couleur du texte */
    padding: 8px 12px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transition pour les effets au survol */
    height: 36px;
    width: 60px;
    position: absolute; /* Positionner de manière absolue */
    bottom: 10px; /* Ajuster la distance du bas */
    right: 10px; /* Ajuster la distance de droite */
}

#submit:hover {
    background-color: #4e34b6; /* Couleur de fond bleue au survol */
    color: #ffffff; /* Couleur du texte blanche au survol */
}

#postForm, .post {
    position: relative;
    border: 1px solid #4e34b6;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 1rem auto;
    min-height: 200px;
    padding-bottom: 50px;
    display: flex; /* Utiliser flexbox pour la disposition */
    flex-direction: column; /* Alignement vertical */
}

#postForm input[type="text"] {
    width: 720px; /* Largeur complète */
    height: 40px; /* Hauteur fixe pour l'input du titre */
    padding: 12px; /* Espacement interne */
    border: 1px solid #4e34b6; /* Bordure bleue */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 15px; /* Espace en bas */
    transition: border-color 0.3s; /* Transition douce pour la couleur de la bordure */
    background: transparent; /* Fond transparent */
    color: #ffffff; /* Couleur du texte */
}


#postForm textarea {
    width: 720px; /* Largeur complète */
    height: 100px; /* Hauteur fixe pour la zone de texte */
    padding: 12px; /* Espacement interne */
    border: 1px solid #4e34b6; /* Bordure bleue */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 15px; /* Espace en bas */
    transition: border-color 0.3s; /* Transition douce pour la couleur de la bordure */
    background: transparent; /* Fond transparent */
    color: #ffffff; /* Couleur du texte */
}

#postForm input[type="text"]:focus,
#postForm textarea:focus {
    border-color: #4e34b6; /* Change border color on focus */
}

#categoriesContainer {
    display: flex; 
    justify-content: center; 
    margin: 10px 0; 
    padding-bottom: 20px;
}

.category-label {
    display: inline-flex; 
    align-items: center;
    padding: 4px 8px; 
    border-radius: 5px;
    margin: 5px; 
    color: #4e34b6;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer; 
}

.category-label:hover {
    opacity: 0.8;
}

.category-label.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.post h3,h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: left;
    padding: 0 10px;
}

.post p {
    color: #ffffff;
    word-wrap: break-word; 
    max-width: 100%;
    line-height: 1.6; 
    text-align: left; 
    padding: 0 10px;
}

.reaction-buttons {
    display: flex;
    justify-content: space-between; /* Espacement entre les boutons *//* Espace au-dessus des boutons */
    margin-top: auto; /* Pousse les boutons vers le bas */
    padding: 10px 0; /* Espacement autour des boutons */
}

.reaction-buttons button {
    background-color: #000000; /* Couleur de fond blanche */
    border: 1px solid #4e34b6; /* Bordure bleue */
    border-radius: 5px; /* Coins arrondis */
    color: #ffffff; /* Couleur du texte bleue */
    cursor: pointer; /* Curseur en main au survol */
    font-size: 16px; /* Taille de police */
    padding: 10px 15px; /* Espacement à l'intérieur des boutons */
    margin-right: 10px; /* Espacement entre les boutons */
    transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet au survol */
}

.reaction-buttons button:hover {
    background-color: #4e34b6; /* Couleur de fond bleue au survol */
    color: #000000; /* Couleur du texte blanche au survol */
}

.reaction-buttons button:last-child {
    margin-right: 0; /* Supprime l'espacement à droite pour le dernier bouton */
}

.filter-container {
    position: absolute;  /* Position it absolutely on the left side */
    border: 1px solid #4e34b6;
    left: 0;             /* Align it to the left edge */
    top: 127px;           /* Adjust vertical position to avoid overlapping with the fixed user bar */
    margin-left: 20px;   /* Optional: adds some margin from the left edge */
    display: flex;       /* Use flexbox for vertical alignment */
    flex-direction: column; /* Align filter options vertically */
    align-items: flex-start; /* Align the items to the left */
    background-color: #000000; /* Optional: background color */
    border-radius: 5px;
    padding: 8px 12px;
    z-index: 1000;  /* Ensure the filter is on top of other elements */
}

.category-container {
    width: 720px; /* Prend toute la largeur */
    margin-bottom: 15px; 
}

#categoryFilter {
    width: 200px; /* You can adjust the width to your liking */
}


.category-filter-label {
    font-size: 16px; /* Taille de la police */
}

#categoryFilter {
    border: 1px solid #4e34b6; /* Bordure bleue */
    border-radius: 5px; /* Coins arrondis */
    padding: 14px 20px; /* Espacement interne */
    background: #000000; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    margin-top: 10px;
    margin-bottom: 15px; /* Espace en bas */
    transition: border-color 0.3s; /* Transition pour la couleur de la bordure */
    width: 100%; /* Prend toute la largeur */
}

#categoryFilter:focus {
    border-color: #4e34b6; /* Change la couleur de la bordure au focus */
} 

@media (max-width: 736px) {
    .main {
        flex-direction: column; 
    }

    .user {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px; 
    }

    .post-form, .post {
        width: 100%; 
    }

    #categoriesContainer {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .category-container {
        align-items: flex-start; /* Aligner à gauche sur les petits écrans */
    }
}