* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
    padding-top: 80px; /* Space for the fixed user bar */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #272346;
}

p {
    color: #a81212;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.btn, button, input {
    border-radius: 35px;
    padding: 14px 20px;
    width: 100%; 
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

#loginMessage {
    border-radius: 35px;
    padding: 14px 20px;
    width: 100%; 
    border: 1px solid #4e34b6;
}

.btn {
    background-color: #4e34b6;
    color: #ffffff;
    margin: 10px 0;
}

.btn:hover {
    background-color: #ffffff;
    color: #4e34b6;
}

input {
    background: #f7fafc;
    color: #999;
    margin-bottom: 15px;
}

input:focus {
    background: transparent;
    border: 1px solid #4e34b6;
}

.login-form, .register-form, .post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 100vh; /* Ensure full height */
}

.main {
    display: flex;
    margin: 30px 0;
    width: 100%;
}

.content {
    flex: 1;
    padding: 3em;
    background-color: #eae9f0;
    box-shadow: 2px 9px 49px -17px rgba(34, 170, 52, 0.1);
    border-radius: 8px;
}

.form-img {
    flex: 1;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-img img {
    max-width: 100%;
}

.register-content {
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 3em;
}

.register-form input,
.register-form select {
    outline: none;
    margin-bottom: 15px;
    padding: 14px 20px;
    width: 100%;
    border: none;
    border-radius: 35px;
    background: #f7fafc;
    transition: 0.3s ease;
}

.register-form input:focus,
.register-form select:focus {
    background: transparent;
    border: 1px solid #4e34b6;
}


.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #4e34b6;
    background-color: #1a1a1a; /* Couleur de fond pour la publication */
    width: 100%;
    position: fixed; /* Fixed at the top */
    top: 0; 
    left: 0; 
    padding: 5px 30px; 
    height: 60px; 
    z-index: 1000; /* Keep on top of other elements */
}

.user h1 {
    color: #ffffff;
}

#logged-in-label {
    font-size: x-large;
  margin-right: 1.5rem; 
  font-weight: bolder;
  color:  #ffffff;
}

#logoutButton {
    border: 1px solid #4e34b6;
    background-color: #000000;
    padding: 8px 12px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 36px;
    width: 60px;
    margin-left: auto; 
}

#logoutButton:hover {
    background-color: #4e34b6;
    color: #ffffff;
}

#submit {
    border: 1px solid #4e34b6;
    background-color: transparent; /* Fond transparent */
    color: #ffffff; /* Couleur du texte */
    padding: 8px 12px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transition pour les effets au survol */
    height: 36px;
    width: 60px;
    position: absolute; /* Positionner de manière absolue */
    bottom: 4px; /* Ajuster la distance du bas */
    right: 10px; /* Ajuster la distance de droite */
}

#submit:hover {
    background-color: #4e34b6; /* Couleur de fond bleue au survol */
    color: #ffffff; /* Couleur du texte blanche au survol */
}

#postForm, .post{
    position: relative;
    border: 1px solid #4e34b6;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 1rem auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
}

#postForm input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1px solid #4e34b6;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s;
    background: transparent;
    color: #ffffff;
}

#postForm textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    border: 1px solid #4e34b6;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s;
    background: transparent;
    color: #ffffff;
    resize: none;
}

#postForm input[type="text"]:focus,
#postForm textarea:focus {
    border-color: #4e34b6; /* Change border color on focus */
}

#categoriesContainer {
    display: flex; 
    justify-content: center; 
    margin: 10px 0; 
    padding-bottom: 20px;
}

.category-label {
    display: inline-flex; 
    align-items: center;
    padding: 4px 8px; 
    border-radius: 5px;
    margin: 5px; 
    color: #4e34b6;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer; 
}

.category-label:hover {
    opacity: 0.8;
}

.category-label.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.user-info {
    display: flex; /* Flexbox pour alignement */
    align-items: center; /* Centre les éléments verticalement */
}

.avatar {
    width: 40px; /* Largeur de l'avatar */
    height: 40px; /* Hauteur de l'avatar */
    border-radius: 50%; /* Rond pour l'image */
    display: flex; /* Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    overflow: hidden; /* Couper tout débordement */
    margin-right: 10px; /* Espace entre l'avatar et le nom d'utilisateur */
}

.avatar img {
    width: 100%; /* Prendre toute la largeur de l'élément parent */
    height: auto; /* Garder les proportions */
}

.user-info h4 {
    font-size: 1.2rem; /* Taille du nom d'utilisateur */
    font-weight: normal; /* Poids normal */
    color: #2366e2; /* Couleur du nom d'utilisateur */
    margin: 0; /* Supprimer la marge par défaut */
}

.user-info p {
    font-size: 12px; /* Taille pour le timestamp */
    padding: 0 6px; /* Padding */
    color: gray; /* Couleur pour le timestamp */
    margin: 0; /* Supprimer la marge par défaut */
}

.post h3 {
    font-size: 1.5rem; /* Taille du titre */
    font-weight: bold;
    margin-bottom: 8px; /* Espacement en bas */
    color: #cfcae0; /* Couleur du titre */
    text-align: left;
    padding: 0 6px;
}

.post p {
    color: #ffffff; /* Couleur du texte */
    font-style: italic; /* Style en italique pour le contenu */
    word-wrap: break-word; 
    max-width: 100%;
    line-height: 1.6; 
    text-align: left; 
    padding: 0 6px;
}

.reaction-buttons {
    display: flex;
    justify-content: center; /* Centrer les boutons */
    padding: 10px 0; /* Espacement autour des boutons */
    margin-top: auto; /* Pousse les boutons vers le bas */
}


.reaction-buttons button {
    background-color: #000000; /* Couleur de fond noire */
    border: 1px solid #4e34b6; /* Bordure bleue */
    border-radius: 5px; /* Coins arrondis */
    color: #ffffff; /* Couleur du texte blanche */
    cursor: pointer; /* Curseur en main au survol */
    font-size: 16px; /* Taille de police */
    padding: 10px 15px; /* Espacement à l'intérieur des boutons */
    margin: 0 2px; /* Espacement entre les boutons */
    transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet au survol */
}

.reaction-buttons button:hover {
    background-color: #4e34b6; /* Couleur de fond bleue au survol */
    color: #000000; /* Couleur du texte noire au survol */
}


.filter-container {
    position: fixed;

    border: 1px solid #4e34b6;
    background-color: #1a1a1a; /* Couleur de fond pour la publication */
    left: 0;             /* Align it to the left edge */
    top: 127px;           /* Adjust vertical position to avoid overlapping with the fixed user bar */
    margin-left: 20px;   /* Optional: adds some margin from the left edge */
    display: flex;       /* Use flexbox for vertical alignment */
    flex-direction: column; /* Align filter options vertically */
    align-items: flex-start; /* Align the items to the left */
    border-radius: 5px;
    padding: 8px 12px;
    z-index: 1000;  /* Ensure the filter is on top of other elements */
}


.category-container {
    width: 720px; /* Prend toute la largeur */
    margin-bottom: 15px; 
}

#categoryFilter {
    width: 200px; /* You can adjust the width to your liking */
}


.category-filter-label {
    font-size: 16px; /* Taille de la police */
}

#categoryFilter {
    border: 1px solid #4e34b6; /* Bordure bleue */
    border-radius: 5px; /* Coins arrondis */
    padding: 14px 20px; /* Espacement interne */
    background: #000000; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    margin-top: 10px;
    margin-bottom: 15px; /* Espace en bas */
    transition: border-color 0.3s; /* Transition pour la couleur de la bordure */
    width: 100%; /* Prend toute la largeur */
}

#categoryFilter:focus {
    border-color: #4e34b6; /* Change la couleur de la bordure au focus */
} 

#userListContainer {
    position: fixed; /* Fixe le conteneur à droite */
    top: 127px; /* Espace pour la barre d'utilisateur fixe */
    right: 100px; /* Positionner complètement à droite */
    width: 400px; /* Largeur du conteneur */
    background-color: #1a1a1a; /* Couleur de fond */
    border: 1px solid #4e34b6; /* Bordure gauche */
    border-radius: 5px;
    padding: 15px; /* Espacement interne */
    height: auto; /* Hauteur pour remplir l'écran, moins la hauteur de la barre d'utilisateur */
    overflow-y: auto; /* Ajoute un défilement si le contenu dépasse */
    z-index: 1000; /* Assurez-vous que le conteneur est au-dessus des autres éléments */
}

.user-list {
    display: flex;
    flex-direction: column; /* Alignement vertical */
}

.user-item {
    border: 1px solid #4e34b6; /* Bordure pour chaque utilisateur */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    margin: 5px 0; /* Espacement entre les utilisateurs */
    color: #ffffff; /* Couleur du texte */
    cursor: pointer; /* Curseur de main au survol */
    transition: background-color 0.3s; /* Transition pour l'effet au survol */
    position: relative
}

.user-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Effet au survol */
}

.user-item.online::after {
    content: ''; /* Nécessaire pour afficher le pseudo-élément */
    position: absolute; /* Positionner par rapport à l'élément parent */
    right: 10px; /* Position à droite de l'élément */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajuster pour centrer parfaitement */
    width: 10px; /* Largeur du cercle */
    height: 10px; /* Hauteur du cercle */
    border-radius: 50%; /* Arrondir pour former un cercle */
    background-color: rgb(24, 185, 92); /* Couleur du cercle */
    border: 2px solid white; /* Bordure blanche pour le cercle */
}

.user-item.offline::after {
    content: ''; /* Nécessaire pour afficher le pseudo-élément */
    position: absolute; /* Positionner par rapport à l'élément parent */
    right: 10px; /* Position à droite de l'élément */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajuster pour centrer parfaitement */
    width: 10px; /* Largeur du cercle */
    height: 10px; /* Hauteur du cercle */
    border-radius: 50%; /* Arrondir pour former un cercle */
    background-color: rgb(206, 20, 20); /* Couleur du cercle */
    border: 2px solid white; /* Bordure blanche pour le cercle */
}

.highlight {
    background-color: #4e34b6; /* Highlight color */
}

#userListContainer h2 {
    color: #ffffff; /* Couleur du titre */
    text-align: center; /* Centrer le titre */
}

#chatContainer {
    position: relative;
    border: 1px solid #4e34b6;
    max-width: 700px; /* Largeur maximale du conteneur */
    height: 815px;
    margin: 0 auto; /* Centrer le conteneur */
    padding: 20px; /* Espacement interne */
    background-color: #000000; /* Couleur de fond du conteneur */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

#messageFormContainer {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    flex-direction: column; /* Alignement vertical */
}

#messageFormContainer h2 {
    color: #ffffff; /* Couleur du titre */
    text-align: center; /* Centrer le titre */
    margin-bottom: 15px; /* Espacement en bas */
}

#messagesContainer {
    display: flex;
    flex-direction: column;
     /* Hauteur maximale pour le conteneur des messages */
    margin-bottom: 15px; /* Espacement en bas */
    margin-top: 10px;
    padding: 10px; /* Espacement interne */
    border: 1px solid #4e34b6; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis pour le conteneur de messages */
    background-color: #000000; /* Couleur de fond des messages */
}

.message {
    background-color: #000000; /* Couleur de fond pour les messages reçus */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    margin: 5px 0; /* Espacement entre les messages */
    max-width: 80%; /* Largeur maximale des messages */
    align-self: flex-start; /* Aligner à gauche pour les messages reçus */
}

.message.sender {
    background-color: #4e34b6; /* Couleur de fond pour les messages envoyés */
    color: white; /* Couleur du texte pour les messages envoyés */
    align-self: flex-end; /* Aligner à gauche pour les messages envoyés */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    margin: 5px 0; /* Espacement entre les messages */
}

/* Styles pour les messages reçus */
.message.receiver {
    background-color: #3419a0; /* Couleur de fond pour les messages reçus */
    color: rgb(255, 255, 255); /* Couleur du texte pour les messages reçus */
    align-self: flex-start; /* Aligner à droite pour les messages reçus */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    margin: 5px 0; /* Espacement entre les messages */
}

#messageForm {
    display: flex; /* Utiliser flexbox pour la disposition */
    flex-direction: column; /* Alignement vertical */
}

#messageForm input,
#messageForm textarea {
    border: 1px solid #4e34b6; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    margin-bottom: 15px; /* Espace en bas */
    background: #000000; /* Fond blanc pour les champs */
    color: #ffffff; /* Couleur du texte */
    transition: border-color 0.3s; /* Transition douce pour la couleur de la bordure */
}

#messageForm input:focus,
#messageForm textarea:focus {
    border-color: #4e34b6; /* Change la couleur de la bordure au focus */
    outline: none; /* Enlève le contour par défaut */
}



.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 2000;
}

@media (max-width: 736px) {
    .main {
        flex-direction: column; 
    }

    .user {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px; 
    }

    .post-form, .post {
        width: 100%; 
    }

    #categoriesContainer {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .category-container {
        align-items: flex-start; /* Aligner à gauche sur les petits écrans */
    }
}